body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.nav_link {
  width: 120px;
}

.img_thumbnail {
  width: 240px;
}

.photos_aside {
  position: fixed;
  width: 240px;
}

.photos_main {
  position: absolute;
  left: 240px;
  width: 600px;
}
