body {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

nav td {
  width: 120px;
}

.img_thumbnail {
  width: 240px;
}

.photos_aside table {
  text-align: left;
}

.photos_aside td {
  min-width: 120px;
}
